<header class="p-3 text-bg-dark">
    <div class="container m-0">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center">
          <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            RickMorty-App
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <app-form-search></app-form-search>        
        </div>
      </div>
    </div>
  </header>