<ng-container *ngIf="messageError">
    <div [class]="classShowModal + ' modal'" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">¡Se ha generado un error!</h5>
              <button (click)="closeModal()"
                type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>{{ messageError }}</p>
            </div>
          </div>
        </div>
      </div>
</ng-container>

